*{
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    text-transform:capitalize ;
    color: #931111;
}

.sub_title{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.card{
    width: 400px;
    margin: 20px;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px brown;
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 350px;

}

.card-desc{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.text {
    font-size: 15px;
    color: rgb(255, 255, 255);
}